*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terragrunt-cache/
.idea/
.vscode/
.DS_Store
.terraformrc
.terragruntrc
.terraform-version
.terraform.tfvars
*.auto.tfvars.json
*.tfvars
