name: Deploy infra (develop)

on:
  push:
    branches:
      - master
  workflow_dispatch: 

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    env:
      AWS_REGION: us-east-1
      COGNITO_ADMIN_EMAIL: ${{ secrets.COGNITO_ADMIN_EMAIL }}
      SYSTEM_BASE_URL: ${{ secrets.SYSTEM_BASE_URL }}
      SMTP_FROM_EMAIL: ${{ secrets.SMTP_FROM_EMAIL }}
      DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
      TF_VAR_aws_region: ${{ env.AWS_REGION }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.9.0"

      - name: Terraform init
        working-directory: infra
        run: terraform init

      - name: Terraform apply
        working-directory: infra
        env:
          TF_VAR_aws_region: ${{ env.aws_region }}
          TF_VAR_db_password: ${{ secrets.DB_PASSWORD }}
          TF_VAR_cognito_admin_email: ${{ env.COGNITO_ADMIN_EMAIL }}
          TF_VAR_system_base_url: ${{ env.SYSTEM_BASE_URL }}
          TF_VAR_smtp_from_email: ${{ env.SMTP_FROM_EMAIL }}
        run: terraform apply -auto-approve
