name: Deploy infra (develop)

on:
  push:
    branches:
      - master
      - prerelease-*
      - release-*
  workflow_dispatch: 

permissions:
  id-token: write
  contents: read

env:
  DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
  AWS_REGION: ${{ vars.AWS_REGION }}
  AWS_ROLE_ARN: ${{ vars.AWS_ROLE_ARN }}

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    environment: ${{ github.ref_name == 'master' && 'dev' || startsWith(github.ref_name, 'prerelease-') && 'qa' || startsWith(github.ref_name, 'release-') && 'prod' || 'dev' }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ env.AWS_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.9.0"

      - name: Terraform init
        working-directory: infra
        run: terraform init

      - name: Terraform apply
        working-directory: infra
        env:
          TF_VAR_db_password: ${{ secrets.DB_PASSWORD }}
        run: terraform apply -auto-approve
